/* ---Pokemon--- */

/* ---Home--- */

/* ---Pokedex--- */
.pokedex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-left: 10pxgit;
}

/* ---PokemonsInfo--- */
.card-pokemons_info {
  display: inline-block;
  max-width: 300px;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.171);
  margin: 10px 10px;
  border-radius: 10px;
}

.card-pokemons-info__header {
  margin: 10px 10px;
  border-radius: 5px;
}

.card-pokemons-info__img {
  width: 60%;
  height: 60%;
}
.bg-grass {
  background: radial-gradient(circle, rgba(16,158,44,0.9192051820728291) 36%, rgba(39,171,130,0.9612219887955182) 100%);
}

.bg-fire{
  background: radial-gradient(circle, rgba(219,20,10,0.9192051820728291) 36%, rgba(204,214,22,0.9612219887955182) 100%);
}

.bg-water {
  background: radial-gradient(circle, rgba(20,16,158,0.9192051820728291) 36%, rgba(66,165,224,0.9612219887955182) 100%);
}

.bg-normal {
  background: radial-gradient(circle, rgba(125,4,33,0.9192051820728291) 36%, rgba(125,54,119,0.9612219887955182) 100%);
}

.bg-bug {
  background: radial-gradient(circle, rgba(21,50,9,0.9192051820728291) 36%, rgba(111,158,120,0.9612219887955182) 100%);
}

.bg-dark {
  background: radial-gradient(circle, rgba(12,9,50,0.9192051820728291) 36%, rgba(111,136,158,0.9612219887955182) 100%);
}

.bg-dragon {
  background: radial-gradient(circle, rgba(9,31,50,0.9192051820728291) 36%, rgba(35,207,202,0.9612219887955182) 100%);
}
.card-pokemons-info__ul {
  display: flex; 
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
/* ---StatsPokemonsInfo--- */
.stats-pokemons-info__li {
  display: inline-block;
  
}